.category-nav {
    height: 5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(to right bottom, 
    rgba($color-btn-1, 0.8), 
    rgba($color-btn-2, 0.8)),
    url(../assets/nav-bg.jpg);
    background-size: cover;
    background-position: top;

}