@mixin aftermix($content, $color1, $color2) {
    &::before {
    content: $content;
    position: absolute;
    font-size: 3rem;
    text-overflow: ellipsis;
    overflow: hidden;
    left: 0;
    font-weight: 700;
    background-image: linear-gradient(to right, $color1, $color2);
    -webkit-background-clip: text;
    background-clip: text;
    display: block;
    color: transparent;
    letter-spacing: 2rem;
    transition: all .2s;
    transform: rotate(-90deg);
    z-index: -3;
    }
 }

 @mixin  flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
 }