.section__anime-img { 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    gap: 2rem;
    font-size: 1.5rem;
    object-fit: cover;

    @include respond(phone) {
        flex-direction: column-reverse;
      }

    &__gif {
        width: 50%;
        object-fit: cover;
    }
}