$color-black: #000;
$color-white: #F0FFF3;

$color-anime1-1: #ff1a40;
$color-anime1-2: #b31240;

$color-anime2-1: #a862ea;
$color-anime2-2: #6545a4;

$color-anime3-1: #b3b300;
$color-anime3-2: #7700b3;

$color-anime4-1: #99ff99;
$color-anime4-2: #6bb36b;

$color-btn-1: #7700b3;
$color-btn-2: #ff00ff;

$color-text-1: #4dff4d;
$color-text-2: #ffffff;